.title{
      text-align: center;
    }
    .col-md-4{
      background: @success;
      color: black;
      text-align: center;
      padding: 200 px;
    }
    .col-md-8{
      background: white;
      color: black;
      text-align: center;
    }

    footer{
      text-align: center;
    }

    form{
      margin-top: 15px;
    }

    .col-md-12{
      text-align: center;
      padding: 20px;
    }

    li{
      margin-top: 15px;
      color: black;
      
    }

    .time{
      color: #484848;

    }